{% extends 'base.html.twig' %}

{% block title %}New Rewards{% endblock %}

{% block body %}
    <h1>Create new Rewards</h1>

    {{ include('rewards/_form.html.twig') }}

    <a href="{{ path('app_rewards_index') }}">back to list</a>
{% endblock %}
