{% extends 'base.html.twig' %}

{% block title %}Edit Scoresheet{% endblock %}

{% block body %}
    <h1>Edit Scoresheet</h1>

    {{ include('scoresheet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_scoresheet_index') }}">back to list</a>

    {{ include('scoresheet/_delete_form.html.twig') }}
{% endblock %}
