{% extends 'base.html.twig' %}

{% block title %}Bac a Sable{% endblock %}

{% block body %}

{% include 'inc/horizontalNav.html.twig' %}
  <main>
    <h1>ZNO</h1>

  </main>

{% include 'inc/footer.html.twig' %}

{% endblock %}
