<aside class="col-3 bd-sidebar">

    <div class="offcanvas-lg offcanvas-start">
        <div class="offcanvas-body">
            <nav class="bd-links w-100">
                <ul class="bd-links w-100">
                    <li class="list-unstyled bd-links-group py-2">
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                        <i class="bi bi-0-square"></i>
                        Tests
                        </strong>
                        <ul class="list-unstyled fw-normal pb-2 small">
                            <li>
                            <a class="bd-links-link d-inline-block rounded">Accordion</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
    </div>
</aside>